.floating 
{
    position:absolute;
}

#linebar
{
    position: absolute;
    left: 47px;
    width:40%;
    height: 2px;
    border-radius: 0px;
    /* display: flex; */
    flex-direction: column;
    background: orange;
    opacity: 0.7;
    z-index: 10;
}

#memory
{
        line-height: 20px;
        border: 1px solid black;
        /* font: medium -moz-fixed; */
        /* //font: -webkit-small-control; */
        height: 200px;
        overflow: auto;
        padding: 2px;
        resize: none;
        width: 495.5px;
}
/* 
.pausebar
{
    width:1000px;
    height: 100px;

    color:orange;
    position: relative;
    z-index: 999;

    top: 10px;
    left: 10px;
} */