.floating 
{
    position:absolute;
}

#linebar
{
    position: absolute;
    left: 47px;
    width:40%;
    height: 2px;
    border-radius: 0px;
    /* display: flex; */
    flex-direction: column;
    background: orange;
    opacity: 0.7;
    z-index: 10;
}

#memory
{
        line-height: 20px;
        border: 1px solid black;
        /* font: medium -moz-fixed; */
        /* //font: -webkit-small-control; */
        height: 200px;
        overflow: auto;
        padding: 2px;
        resize: none;
        width: 495.5px;
}

#floater {
    position: absolute;
    left: 47%;
    top: calc(var(--navbar-height) * 1vh + 20px);
    display: flex;
    flex-direction: column;
    background: var(--env-dark);
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: white;
    padding: 10px;
    z-index: 10;
}