.CodeMirror {
    width: 50%;
    height: 100%;
    line-height: 1.5;
    background-color: white !important;
    /* border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: 0px solid var(--env-dark) !important; */
}



.CodeMirror .CodeMirror-placeholder {
    color: var(--env-dark) !important;
    font-style: italic;
  }