/*
All credit for the split-screen to Phuoc Nguyen:
https://phuoc.ng/collection/html-dom/create-resizable-split-views/
*/
.container {
    display: flex;

    /* Misc */
    border: 1px solid #cbd5e0;
    height: 32rem;
    width: 100%;
    height: calc((100 - var(--navbar-height)) * 1vh);
}

.resizer[data-direction='horizontal'] {
    background-color: #cbd5e0;
    cursor: ew-resize;
    height: 100%;
    width: 5px;
}

.resizer[data-direction='vertical'] {
    background-color: #cbd5e0;
    cursor: ns-resize;
    height: 5px;
    width: 100%;
}

.container__left {
    /* Initially, the left takes 1/4 width */
    width: 25%;

    min-width: 200px;

    /* Misc */
    align-items: center;
    display: flex;
    justify-content: center;

}

.container__right {
    /* Take the remaining width */
    flex: 1;

    /* Misc */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container__top {
    /* Initial height */
    height: 70%;

    /* Misc */
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;

}

.container__bottom {
    /* Take the remaining height */
    flex: 1;

    /* Misc */
    align-items: center;
    display: flex;
    justify-content: stretch;
    width: 100%;
}

i {
    padding-top: 10px;
    padding-bottom: 10px;
}

i:hover {
    cursor: pointer;
}